.comment-form-container {
  transition: 1s all;
  overflow: hidden;
  max-height: 0px;

  &.visible {
    max-height: 1000px;
  }
}

.comment-button {
  transition: 1s all;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
}