.comment-transition-enter {
  opacity: 0.01;
  transition: opacity 0.5s ease-in;
}
.comment-transition-enter.comment-transition-enter-active {
  opacity: 1;
}

.comment-transition-leave {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.comment-transition-leave-active {
  opacity: 0.01;
}

.comment-form-container {
  transition: 1s all;
  overflow: hidden;
  max-height: 0px;

  &.visible {
    max-height: 1000px;
  }
}

.comment-button {
  transition: 1s all;
  opacity: 0;

  &.visible {
    opacity: 1;
  }
} 
